/* styles/main.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.container {
  display: flex;
  height: 100vh;
}

button {
  display: block;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #333;
  border-radius: 5px;
  margin: 10px 0;
  background-color: #fff;
  color: #333;
  width: 100%;
}

button:hover {
  background-color: #ffeb3b;
  border-color: #ffeb3b;
}

button:active {
  background-color: #ffeb3b;
  border-color: #ffeb3b;
}

.left-side {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: beige;
}

#categorys {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.right-side {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  box-sizing: border-box;
}

.split-line {
  border-right: 6px solid #000;
  height: 100vh;
}

.split-bot {
  margin-left: -50%;
  width: 200%;
  border-top: 6px solid #000;
  margin-top: 80px;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  width: 100%;
}

ion-icon {
  font-size: 3em;
  transform: scale(1.8) 0.3s ;
}

a:visited {
  color: #333;
}

a:hover {
  color: hotpink;
  transition: transform ;
  transform: scale(1.3);
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 50%;
  height: auto;
  margin-top: 20px;
}

.text-content {
  text-align: center;
  margin-bottom: 20px;
}

.text-content h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.text-content p {
  font-size: 1.2em;
  line-height: 1.5;
  max-width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

